<a href="https://colab.research.google.com/github/brudomingues/analise_dados/blob/main/dados/Analise_dados_05_keywords_pyb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
csv = ""
contexto=pd.read_csv(csv)
contexto

In [ ]:
keyword_titulo = contexto ["TI"].str.contains ("Brasil")
keyword_titulo

In [ ]:
keyword_titulo2 = contexto [contexto["TI"].str.contains ("Brasil", case=False)]
keyword_titulo2.shape

# Busca genérica por palavra-chaves
A busca apresentada nesse tópico retorna resultados que incluem os caracteres da palavra "Brasil", incluindo os gentílicos, como"Brasileiro", e outros termos compostos

In [ ]:
keyword_titulo = contexto["TI"].str.contains("Brasil")
keyword_titulo

In [ ]:
keyword_titulo2 = contexto[contexto["TI"].str.contains("Brasil",case=False)]
keyword_titulo2.shape

In [ ]:
agrupar = keyword_titulo2["TI"].groupby(keyword_titulo2["PY"])
busca_ano = agrupar.count()
busca_ano

In [ ]:
busca_ano.plot(kind="bar")

In [ ]:
busca_ano.plot(kind="line")

# Busca precisa por palavras-chaves

A busca apresentada nesse tópico retorna resultados precisos das ocorrências da palavra-chave "Brasil"

In [ ]:
df = pd.DataFrame({
    "nomes": ["João Lucas","Rafael Augusto","Ana Beatriz", "João Luca"]
})

df

            nomes
0      João Lucas
1  Rafael Augusto
2     Ana Beatriz
3       João Luca

In [ ]:
busca_generica = df[df["nomes"].str.contains("a")]
busca_generica

            nomes
0      João Lucas
1  Rafael Augusto
2     Ana Beatriz
3       João Luca

In [ ]:
busca_exata = df[df["nomes"].str.match("^João Lucas$")]
busca_exata

        nomes
0  João Lucas

In [ ]:
keyword_titulo2 = contexto[contexto["TI"].str.match("^Brasil$")]
keyword_titulo2.shape

NameError: ignored

In [ ]:
busca_exata2 = "Política externa"
expressao_regular = r"\b{}\b".format(busca_exata2.replace(" ",r"\s+"))
busca_titulo3 = contexto[contexto["TI"].str.contains(expressao_regular, case=False)]
busca_titulo3.shape

# Busca
in >> busca na lista de rótulos de linhas e colunas

isin >> busca valores armazenados em determinada coluna tanto o in quanto o isin vai retornar um true ou false

link com as nomenclaturas >> https://labriunesp.org/docs/projetos/dados/frjournalsbr/infos/metadados

In [ ]:
busca = "AU" in contexto
busca

In [ ]:
busca2 = contexto["AU"].isin(["João Fernando Finazzi"])
busca2